---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="hey that's me!"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('September 18 2023')}
	heroImage="/about-me.jpg"
>
	<p>
		I graduted from DePaul University in 2023 with a bachelor's in computer science. Since then, I've done freelance work for a range of different organizations. Much of my experience lies within full-stack development and I've tried
		nearly every framework there is out there!
	</p>
	<img src="/ChristianCruz2024.jpg" alt="" />
</Layout>
