---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-prose m-auto px-4">
		<Header />
		<main>
			<div class="mb-4">
				<h1 class="text-xl font-large text-black-600 mb-2">Hi, thanks for joining me!</h1>
				<div class="text-sm">
					<p >I'm a software engineer based out of Chicago, Illinois.</p>
					<p> When I'm not behind the computer, I'm probably working on 3D prints or doomscrolling.</p>
				</div>
			</div>
			
		</main>
		<Footer />
	</body>
</html>
